*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}

.page {
  margin-top: 50px;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.background {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;

  //background-color: var(--warning);
}

.container {
  position: relative;
  z-index: 2;
  width: min(100%, 1240px);
  margin: 0 auto;

  //background-color: rgba(gray, 0.5);
}