// HEADERS
// h1 – 46/130
@mixin h1($scale: 1) {
  font-weight: 900 * $scale;
  font-size: 46px * $scale;
  line-height: 130% * $scale;
}
// h6 – 16/150
@mixin h6($scale: 1) {
  font-weight: 700 * $scale;
  font-size: 16px * $scale;
  line-height: 150% * $scale;
  letter-spacing: 1px * $scale;
}

// DISPLAY

// LEAD
// lead_bold – 20/150
@mixin lead_bold($scale: 1) {
  font-weight: 700 * $scale;
  font-size: 20px * $scale;
  line-height: 150% * $scale;
}

// LARGE
// large_regular – 18/150
@mixin large_regular($scale: 1) {
  font-weight: 400 * $scale;
  font-size: 18px * $scale;
  line-height: 150% * $scale;
}
// large_bold – 18/150
@mixin large_bold($scale: 1) {
  font-weight: 700 * $scale;
  font-size: 18px * $scale;
  line-height: 150% * $scale;
}

// BASE
// base_bold – 16/160
@mixin base_bold($scale: 1) {
  font-weight: 700 * $scale;
  font-size: 16px * $scale;
  line-height: 160% * $scale;
}

// SMALL
// small_regular – 14/150
@mixin small_regular($scale: 1) {
  font-weight: 400 * $scale;
  font-size: 14px * $scale;
  line-height: 150% * $scale;
}

// EXTRASMALL

// EXTRAEXTRASMALL
// extraextrasmall_bold – 10/150
@mixin extraextrasmall_bold($scale: 1) {
  font-weight: 900 * $scale;
  font-size: 10px * $scale;
  line-height: 150% * $scale;
}