@use '../styles' as styles;

.courses {
  padding: 171px 5px 0;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    margin-bottom: 60px;
  }

  &__filters {
    display: flex;
    gap: 12px;
  }

  &__filter-btn {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--corner-radius);
    padding: 9px 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background-color: transparent;
    color: var(--gray-600);
    cursor: pointer;

    span {
      @include styles.base_bold;
      white-space: nowrap;
    }

    sup {
      @include styles.extraextrasmall_bold;
      position: relative;
      top: -6px;
    }

    &.active {
      border-color: var(--active-color);
      color: var(--active-color);

      transition: border-color .3s ease-in, color .3s ease-in;
    }
  }

  &__search {
    @include styles.small_regular;
    width: 315px;
    height: 44px;
    border: 1px solid var(--gray-400);
    border-radius: var(--corner-radius);
    color: var(--gray-800);

    padding: 12px 40px 12px 16px;
    background-image: url('/assets/icons/magnifier.svg');
    background-repeat: no-repeat;
    background-position: right 15px top 15px;
    background-size: 15px;

    &::placeholder {
      color: var(--gray-600);
    }

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        clamp(280px, 90vw, 390px),
        390px
      )
    );
    gap: clamp(16px, 4vw, 30px);
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 80px;

    > * {
      aspect-ratio: 390 / 438;
    }
  }

  &__load {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 86px;

    @media (max-width: 390px) {
      gap: 13px;
    }
  }

  &__load-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 22px;
      height: 20px;
    }

    @media (max-width: 390px) {
      width: 19px;
      height: 19px;
      svg {
        width: 17px;
        height: 16px;
      }
    }
  }

  &__load-text {
    @include styles.base_bold;
    color: var(--gray-800);

    @media (max-width: 390px) {
      @include styles.base_bold(0.8);
    }
  }
}